.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 28px;
    height: 28px;

    @media only screen and (max-width: 500px) {
      width: 34px;
      height: 34px;
    }
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
    @media only screen and (max-width: 500px) {
      font-size: 12px;
      bottom: 10px;
    }
  }
}
